# Backend
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.env
*.db
ml/model/
ml/data/
backend/ml/model/
backend/ml/data/
venv/
.venv/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
*.apk
*.aab

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Nginx SSL
nginx/ssl/
